---
import CardLaunches from "./CardLaunches.astro";
import { getLastestLaunches } from '../services/spaceX';

const launches = await getLastestLaunches();
---

<div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3">
  {
    launches.map((launch) => (
      <article>
        <CardLaunches 
        id={launch.id}
        img={launch.links.patch.small}
        details={launch.details}
        flightNumber={launch.flight_number}
        success={launch.success}
        />
      </article>
    ))
  }
</div>
